<div class="d-flex p-2 justify-content-center">
    <button type="button" data-tablename="ЗаказОтчет"
        class="btn btn-info btn-event-create-report">Заказы</button>
    <button type="button" data-tablename="ПокупательОтчет"
        class="btn btn-info btn-event-create-report">Покупатель</button>
    <button type="button" data-tablename="МебельОтчет"
        class="btn btn-info btn-event-create-report">Мебель</button>
</div>

<hr>

<div class="p-2">
    <h1 id="headerReport"></h1>
</div>
<div id="table-container">

</div>