@{
    ViewData["Title"] = "Главная станица";
}

<div class=" d-flex justify-content-center">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" data-tablename="ЗаказПредставление"
            class="btn btn-outline-primary btn-event-get-table">Заказы</button>
        <button type="button" data-tablename="ПеревозкиПредставление"
            class="btn btn-outline-primary btn-event-get-table">Перевозки</button>
        <button type="button" data-tablename="Покупатель"
            class="btn btn-outline-primary btn-event-get-table">Покупатели</button>
        <button type="button" data-tablename="Мебель"
            class="btn btn-outline-primary btn-event-get-table">Товары</button>
        <button type="button" data-tablename="Машина"
            class="btn btn-outline-primary btn-event-get-table">Машины</button>
        <button type="button" data-tablename="Водитель"
            class="btn btn-outline-primary btn-event-get-table">Водители</button>
    </div>
</div>

<hr>


<div class="panel">

    <div class="panel__checklist">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-success btn-event-add-row">
                <i class="bi bi-plus-circle"></i>
                Добавить строку
            </button>
            <button type="button" class="btn btn-warning btn-event-add-filter">
                <i class="bi bi-funnel"></i>
                Добавить фильтр
            </button>
        </div>

    </div>

    <div class="panel__search">
        <input id="inputSearch" type="text" class="form-control" placeholder="Введите текст..." aria-label="">
        <input id="inputSearchBtn"type="button" class="btn btn-primary ms-1" value="Поиск">
    </div>
</div>


<div id="form">
    
</div>

<div id="table-container">
    <table id="ContentTable" class="table table-hover table-striped caption-top align-middle">
        <caption id="TableCaption">Список пользователей</caption>
        <thead id="TableHead" class="table-dark">
            <tr>
                <th scope="col">
                    №

                </th>
                <th scope="col">
                    Имя

                </th>
                <th scope="col">
                    Фамилия

                </th>
                <th scope="col">
                    Действия
                </th>
            </tr>
            <tr class="table-light">
                <td>
                    <span class="text-success">
                        <i class="bi bi-sort-down sort-event"></i>
                        сортировать
                    </span>
                </td>
                <td>
                    <div class="text-success">
                        <i class="bi bi-sort-down sort-event"></i>
                        сортировать
                    </div>
                </td>
                <td>
                    <span class="text-success">
                        <i class="bi bi-sort-down sort-event"></i>
                        сортировать
                    </span>
                </td>
                <td></td>
            </tr>
        </thead>
        <tbody id="TableBody">
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td class="align-end">


                    <button type="button" class="btn btn-outline-danger me-2">
                        <i class="bi bi-trash-fill"></i>
                        удалить
                    </button>

                    <button type="button" class="btn btn-primary me-2">
                        <i class="bi bi-pencil-square"></i>
                        изменить
                    </button>


                </td>
            </tr>

            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td class="align-end">
                    <button type="button" class="btn btn-outline-danger me-2">
                        <i class="bi bi-trash-fill"></i>
                        удалить
                    </button>

                    <button type="button" class="btn btn-primary me-2">
                        <i class="bi bi-pencil-square"></i>
                        обновить
                    </button>
                </td>
            </tr>
        </tbody>
    </table>


    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Bootstrap</strong>
                <small>Сейчас</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
            </div>
            <div class="toast-body">
                Удаление строки на сервере..
            </div>
        </div>
    </div>

</div>
