<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="d-flex p-2 justify-content-center">
    <button type="button" data-tablename="ЗаказОтчет"
        class="btn btn-info btn-event-create-chart">Заказы</button>
    <button type="button" data-tablename="ПокупательОтчет"
        class="btn btn-info btn-event-create-chart">Покупатель</button>
    <button type="button" data-tablename="МебельОтчет"
        class="btn btn-info btn-event-create-chart">Мебель</button>
</div>

<hr>

<canvas id="myChart">

</canvas>

