.Table {
    width: 100%;
    border: 1px solid #af1e1e;
    border-collapse: collapse; /* Для объединения границ ячеек */
}

.Table__caption {
    text-align: left; /* Выравнивание текста заголовка таблицы */
    font-weight: bold;
}

.Table__head th {
    background-color: #f2f2f2; /* Цвет фона заголовков */
    text-align: left; /* Выравнивание текста заголовков */
    padding: 8px; /* Отступ внутри ячеек заголовков */
}

.Table__body td, .Table__body th {
    border: 1px solid #ddd; /* Границы ячеек */
    padding: 8px; /* Отступ внутри ячеек */
    text-align: left; /* Выравнивание текста ячеек */
}
